body {
  margin-top: 30px!important;
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  }  
 
  
 #calendar {
  width: 780px;
  margin: 0 auto;
  }
 .lista-estados{
	font-size: 80%;
 }
  .lista-pacientes{
	  margin-top: 50px;
	  margin-bottom: 20px;
  }
  .lista-estados{
	  margin-bottom: 20px;
  }
  
  .letraTip{
	font-size: 12px;
	text-align: left;
}
  .letraTip2{
	font-weight: bold;
}
        .text-input
        {
            height: 21px;
            width: 150px;
        }
        .turnos-table
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .turnos-table td, 
        .turnos-table tr
        {
            margin: 0px;
            padding: 2px;
            border-spacing: 0px;
            border-collapse: collapse;
            font-family: Verdana;
            font-size: 12px;
        }
	#fechaTurno,#horarioTurno,#fechaAgenda,#horarioAgenda{
		font-weight: bold;
	}
	